<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>New Entry</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1><em>Word</em>Count</h1>
        <p>Enter a word and a sentence below and our state-of-the-art WordCount&#8482; AI will run them through our complex Algorithms to get you an accurate response. Upgrade to WordCountPro for only $19.99/month! </p>
      </div>
    </div>
    <div id="entryForm" class="container">

      <div class="col-md-5">
      <form action="/" method="post" >
      <input id="userWord" pattern="[A-Za-z?''""]{1,30}" title="Please enter a single word, no spaces or non-letter characters."  type="text" name="userWord" placeholder="Enter a word" required="true">
      <input id="userSentence" pattern="[A-Za-z?''"" ]{1,200}" title="Please enter a sentence. Non letter characters not allowed."  type="text" name="userSentence" placeholder="Enter a sentence" required="true">
      <button type="submit" class="btn btn-success" name="button">Submit!</button>
    </form>
  </div>
  </div>
  </body>
</html>
