@using WordCounterApp.Models;
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <title>Welcome!</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Word Count</h1>
      </div>
      @if (Model != null)
      {
        <h3>Your sentence contains @RepeatCounter.GetWordCount() instances of your word.</h3>
      }
      <h2><a href="/form">Enter New:</a> </h2>
    </div>

  </body>
</html>
